@font-face {
  font-family: "Archer-Bold-Italic";
  src: url("../assets/fonts/Archer/Archer-BoldItal-Pro.otf") format("opentype");
}

@font-face {
  font-family: "GothamSSm-Black";
  src: url("../assets/fonts/GothamSSm/GothamSSm-Black.otf") format("opentype");
}

@font-face {
  font-family: "GothamSSm-Book";
  src: url("../assets/fonts/GothamSSm/GothamSSm-Book.otf") format("opentype");
}

@font-face {
  font-family: "GothamSSm-Medium";
  src: url("../assets/fonts/GothamSSm/GothamSSm-Medium.otf") format("opentype");
}
